
@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 1450px;
    min-width: 70%;
    background: #e0ffff;
}
header{
    width: 100%;
}
.menu-list{
    list-style: none;
    text-align: center;
    margin: 50px;
}
.menu-list li{
    width: 120px;
    height: 35px;
    display: inline-block;
    background: #660000;
    color: white;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.menu-list li:nth-child(1){
    border-top-left-radius: 20px;
}
.menu-list li:nth-child(5){
    border-bottom-right-radius: 20px;
}
.menu-list li:nth-child(1),
.menu-list li:nth-child(2),
.menu-list li:nth-child(3),
.menu-list li:nth-child(4){
    border-right: 1px solid white;
}

.menu-list li:hover{
    text-decoration: underline;
    background: #00befe;
}
.menu-list li:active{
    background:chocolate;
}
.menu-list li:hover:after{
    position: absolute;
    top:40px;
    left: 0;
    font-size: .5em;
    background: #00befe;
    content: attr(data-msg);
    width: 120px;
    height: 20px;
    line-height: 20px;
}




form{
    text-align: center;
}
form input{
    height: 35px;
    width: 310px;
    border: 1px solid #000;
    outline: none;
}
/*设置占位符的颜色*/
[type="text"]::-webkit-input-placeholder{
    color: #000;
}

[type="text"]{
    padding-left: 8px;
    font-size: 14px;
    border-radius: 8px;
}
[type="text"]:focus{
    border: 1px solid #00befe;
}
[type="text"]:focus::-webkit-input-placeholder{
    color: #00befe;
}


main{
    width: 55%;
    margin: 0 auto;
}
hr{
    color: peachpuff;
    width: 80%;
    margin: auto;
    margin: 40px auto;
}
main h1{
    font-weight: lighter;
    color: #660000;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.submenu-list{
    list-style: none;
}
.submenu-list li{
    display: inline-block;
    padding: 5px;
    font-weight: lighter;
}
.submenu-list li a{
    text-decoration: none;
}
.submenu-list li:nth-child(2){
    color: #9b9b99;
}
.submenu-list li:nth-child(1):hover{
    text-decoration: underline;
}
main .t1{
     font-size: 16px;
     color: #9880dc;
     letter-spacing: 1px;
     margin-bottom: 15px;
    font-weight: lighter;
 }
main .t2{
    text-indent: 2em;
    letter-spacing: 2px;
    margin-bottom:15px ;
    font-weight: lighter;
}
main .t2:first-letter{
    font-size: 35px;
    font-weight: lighter;
}
main .t3{
    letter-spacing: 2px;
    text-indent: 2em;
    margin-bottom: 15px;
    font-weight: lighter;
}
main .photo{
    width: 100%;
}
main .photo img{
    padding-left: 110px;
    padding-bottom: 20px;
}

footer{
    width: 100%;
    background:#660000 ;
    height: 150px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
footer p{
    padding-top: 40px;
    padding-bottom: 20px;
}


body::-webkit-scrollbar{
    width: 18px;
    background: pink;
}
body::-webkit-scrollbar-thumb:vertical {
    border-radius: 5px;
    /*设置拖拽条*/
    background: dimgray;
}