<link rel="stylesheet" href="../css/home.css">
<root id="app">
    <!-- 轮播图 -->
    <div class="flash">
        <!-- 图片 -->
        <div class="imgs">
            <img v-for="(item, index) in imgs" :key="index" :class="index == 0 ? 'show' : ''" :src="path + item" alt="">
        </div>
        <!-- 小圆点 -->
        <div class="idots">
            <span v-for="(item, index) in imgs" :key="index" :class="index == 0 ? 'idot show' : 'idot'"></span>
        </div>
    </div>
    <!-- 通知 -->
    <div class="notice-box">
        <i class="iconfont notice">&#xe673;</i>
        <a href="javascript:;" v-for="(notice,index) in notices" :class="index == 0 ? 'show info' : 'info'">{{notice}}</a>
    </div>
    <!-- 书籍列表 -->
    <div class="book-box">
        <section class="book-item" v-for="items in books" >
            <h1 class="title">{{items.title}}</h1>
            <ul class="book-list">
                <li v-for="book in items.infos">
                    <img :src="book.cover" alt="">
                    <p class="bookname">{{book.name}}</p>
                    <p class="author">{{book.author}}</p>
                    <p class="price">¥ {{book.price}}</p>
                    <!-- 事件遮罩 -->
                    <div class="event-mask" @click="showBookDetails"></div>
                </li>
            </ul>
        </section>
    </div>
</root>
<script src="../js/home.js"></script>
