<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆/注册</title>
    <!-- 引入css -->
    <link rel="stylesheet" href="../css/normalnize.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login-register.css">
    <link rel="stylesheet" href="../plugin/LHYAlertView.css">
</head>
<body>
    <!-- 头部 -->
    <header class="navigation-bar">
        <i class="iconfont goHome backBtn">&#xe75b;</i>
        <h1 class="title">登陆/注册</h1>
    </header>
    <!-- 内容 -->
    <main class="content" id="app">
        <!-- 切换按钮 -->
        <div class="tab-btn">
            <span class="btn login-btn selected" data-flag="login" @click="tabBtnClick">登陆</span>
            <span class="btn register-btn"  data-flag="register" @click="tabBtnClick">注册</span>
        </div>
        <!-- 表单元素 -->
        <form action="javascript:;" name="myForm">
            <!-- 账号 -->
            <section class="form-item">
                <i class="iconfont form-icon">&#xe603;</i>
                <input type="text" placeholder="请输入账号" class="account" v-model="account">
            </section>
            <!-- 昵称 -->
            <section  v-if="isRegister" class="form-item">
                 <i class="iconfont form-icon">&#xe66e;</i>
                <input type="text" placeholder="请输入昵称" class="nikename" v-model="nikename">
            </section>
            <!-- 密码 -->
            <section class="form-item">
                <i class="iconfont form-icon">&#xe61d;</i>
                <input type="password" placeholder="请输入密码" class="password" v-model="password">
            </section>
            <!-- 手机 -->
            <section v-if="isRegister" class="form-item">
                <i class="iconfont form-icon">&#xe628;</i>
                <input type="tel" placeholder="请输入手机" class="tel" v-model="tel">
            </section>
            <!-- 邮箱 -->
            <section v-if="isRegister" class="form-item">
                <i class="iconfont form-icon">&#xe654;</i>
                <input type="email" placeholder="请输入邮箱" class="email" v-model="email">
            </section>
            <!-- 按钮 -->
            <button type="button" class="login-register-btn" @click="loginRegisterBtnClick">登陆</button>
        </form>
    </main>
    <!-- 引入脚本 -->
    <script src="../plugin/jquery-3.3.1.min.js"></script>
    <script src="../plugin/LHYAlertView.js"></script>
    <script src="../plugin/vue.min.js"></script>
    <script src="../plugin/bmob-min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/login-register.js"></script>
</body>
</html>