<link rel="stylesheet" href="../css/mine.css">
<root id="app">
    <!-- 头像 -->
    <div class="info-box">
        <section class="head-sculpture"></section>
        <p class="nikename">{{user.nikename}}</p>
    </div>
    <!-- 功能 -->
    <div class="action-box">
        <ul class="action-list" v-for="group in actiongroup">
            <li v-for="item in group">
                <span>{{item}}</span>
                <i class="iconfont arrow-right">&#xe75c;</i>
            </li>
        </ul>
    </div>
    <!-- 退出登录 -->
    <button type="button" class="quit-btn" @click="quitBtnClick">注销</button>
</root>
<script src="../js/mine.js"></script>