
@charset "UTF-8";
body{
    height: 2000px;
}
.menu-list{
    width: 505px;
    text-align: center;
    /*解决因inline-block产生的默认间距问题*/
    font-size: 0;
    margin: 20px auto;


    position: fixed;
    top:0;
    left: 50%;
    /*中心点重合*/
    transform: translateX(-50%);
    /*调整元素在z轴上的呈现顺序*/
    z-index: 1;
}
.menu-list li{
    width: 100px;
    height: 30px;
    background: peachpuff;
    color: white;
    text-align: center;
    line-height: 30px;
    /*display: inline-block;*/

    float: left;
    font-size: 16px;
    margin-right: 1px;
    cursor: wait;
}
.menu-list li:hover + li{
    /*脱离文档流*/
    /*display: none;*/
    /*隐藏元素：不会脱离文档流*/
    /*visibility: hidden;*/
    /*过渡效果*/
    transition: all .35s linear;
    /*不会脱离文档流*/
    opacity: 0;
}

.wrap{
    width: 800px;
    background: pink;
    margin:50px auto;
    /*overflow: hidden;*/
}
.ball{
    width: 200px;
    height: 200px;
    background: peachpuff;
    /*当高度=高度的时候，如果设置圆角为50%，则会形成一个圆形*/
    border-radius: 50%;
    float: right;
    position: relative;

}

/*解决浮动布局的影响：（父级元素中设置）
1、直接设置父元素的高度
2、父元素设置overflow:hidden;
3、伪类：after 清除浮动（推荐）
*/



/*绝对定位：
相对于离他最近的组先级元素中，
拥有position属性的那一个进行对位，
绝对定位会脱离文档流、并且可以让视图重叠，
通过z-index属性可以设置元素在z轴上的显示顺序
 */


.square{
    width: 80px;
    height: 80px;
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


