@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    min-width: 1180px;
    height: 60px;
    background: cornflowerblue;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .25s linear;
    position: relative;

}
.menu-list{
    font-size: 0px;
}
.menu-list li{
    padding: 0px 26px;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .25s linear;
    line-height: 60px;
}
.menu-list li:hover{
    background: rgb(40, 110, 240);
}
.menu-list li:not(:last-child){
    border-right: 1px solid #ffffff;
}
main{
    width: 90%;
    min-width: 1100px;
    height: 2000px;
    margin: 110px auto 0;
    background: pink;
}


.menu-hidden{
    top: -60px;
}




.submenu-box{
    width: 100%;
    min-width: 1100px;
    background: rgba(0,0,0,.5);
    height: 500px;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 36px;
    line-height: 500px;
    display: none;
}

.menu-list li:hover .submenu-box{
    display: block;
}