
@charset "UTF-8";
.box{
    width: 160px;
    height: 160px;
    background: peachpuff;
    margin: 50px 0;
    padding: 20px;
    border: 10px solid mediumorchid;
}
header,main,footer{
    width: 75%;
    min-width: 1100px;
    margin: 0 auto;
}
.padding{
    display: inline-block;
    background: yellow;
    margin: 50px 0;
    padding: 20px;
}
.wrap1{
    padding: 8px;
    border: 1px solid chocolate;
}
.wrap1 section{
    width: 120px;
    height: 120px;
    background: pink;
    margin-top: 100px;
    display: inline-block;
}
.wrap1 section:first-child{
    /*margin-bottom: 200px;*/
    margin-right:200px;
    /*border-radius: 100px;*/
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.wrap1 section:last-child{
    /*margin-top: 300px;*/
    margin-left: 300px;
}

.border{
    width: 120px;
    height: 120px;
    background: palevioletred;
    /*border: 3px dashed #000000;*/
    margin: 50px 0;
    border-style: solid;
    border-width: 10px 5px 20px 15px;
    border-top: 3px dotted #000000;
    border-color: aqua chartreuse chartreuse mediumorchid;


}