@charset "UTF-8";
body{
    background: black;
}
.container{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 200px auto;
    transform-style: preserve-3d;
    /*perspective: 310px;*/
    /*perspective-origin: 0% 0%;*/
    transform: rotateX(15deg) rotateY(30deg);
}
.face{
    width: 200px;
    height: 200px;

    opacity: .7;


    font: 30px/200px "宋体";
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.front{
    background: red;
    transform: translateZ(100px);
}
.back{
    background: green;
    transform: rotateY(180deg) translateZ(100px);
}
.left{
    background: orangered;
    transform: rotateY(-90deg) translateZ(100px);
}
.right{
    background: palevioletred;
    transform: rotateY(90deg) translateZ(100px);
}
.top{
    background: orange;
    transform: rotateX(-90deg) translateZ(100px);
}
.bottom{
    background: olivedrab;
    transform: rotateX(90deg) translateZ(100px);
}

@-webkit-keyframes rotate {
    0%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
    100%{transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)}
}
@keyframes rotate {
    0%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
    100%{transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)}
}
.container{
    animation: rotate 5s linear 0s infinite alternate running;
}



.contain{
    width: 1200px;
    height: 500px;
    background: pink;
    margin: 150px auto;
}
.title{
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
    font-weight: normal;
}
.ct-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ct-list img{
    vertical-align: middle;
}
.ct-list li{
    width: 180px;
    overflow: hidden;
    transition: all .5s linear;
    position: relative;
}
.ct-list li:first-child{
    width: 630px;
}
.ct-list li:first-child .mask{
    opacity: 0;
}
.ct-list:hover li{
    width: 180px;
}
.ct-list li:hover{
    width: 630px;
}
.ct-list .mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: all .25s linear;
    position: absolute;
    top: 0;
    left: 0;
}
.ct-list:hover li .mask{
    opacity: 1;
}
.ct-list li:hover .mask{
    opacity: 0;
}