@charset "utf-=8";

.clearFix {
    zoom: 1;
}
.clearFix::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.container {
    min-width: 1180px;
    height: 475px;
    position: relative;
    overflow: hidden;
}
/* 设置图片 */
.img-box {
    width: calc(8 * 100%);
    position: absolute;
    left: -200%;
    top: 0;
}
.img-box img {
    width: calc(100% / 8);
    height: 100%;
    vertical-align: middle;
    float: left;
}

/* 设置按钮 */
.btn-box .btn {
    width: 32px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover !important;
    cursor: pointer;
    opacity: 0;
    transition: all .15s linear;
}
.btn-box .prev {
    left: 20px;
    background: url(../images/arr_left.png) no-repeat center center;
}
.btn-box .next {
    right: 20px;
    background: url(../images/arr_right.png) no-repeat center center;
}
.container:hover .btn {
    opacity: 1;
}

/* 小圆点 */
.idt-box {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.idt-box .idot {
    display: inline-block;
    width: 70px;
    height: 3px;
    background: #fff;
    margin: 0 5px;
    border-radius: 3px;
    transition: all .25s linear;
}
.idt-box .show {
    background: orange;
}

