@charset 'utf-8';

.navigationBar {
    height: 64px;
    background: #333;
    text-align: center;
    line-height: 64px;
    position: relative;
}
.navigationBar .goback-btn {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.navigationBar .title {
    letter-spacing: 3px;
    color: #fff;
}