@charset 'utf-8';

.tabBar {
    height: 49px;
    background: #333;
    display: flex;
}

.tabBar-item {
    display: block;
    width: 25%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabBar .active {
    background: rgb(199, 27, 10);
}

.tabBar .icon {
    font-size: 22px;
}

.tabBar .title {
    font-size: 12px;
}

