.container > section{
    width: 260px;
    height: 300px;
    background: pink;
    margin: 50px auto;
    border-radius: 16px;
}

.container > section:nth-child(odd){
    background: orange;
}
.gobtn{
    width: 28px;
    height: 64px;
    background: url("../images/@YU7XKK0@F9H279HL]RQ9VQ.jpg");
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}
.gobtn:hover{
    background-position: -28px 0;
}




