.container{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
}


.container img{
    opacity: 0;
    transition: all .5s linear;
    position: absolute;
    top: 0;
    left: 0;
}
.container img.show{
    opacity: 1;
}

.btn{
    font-size: 36px;
    font-weight: bolder;
    color: #ffffff;
    opacity: .6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover{
    opacity: 1;
}
.prev {
    left: 10px;
    opacity: .6;
    cursor: pointer;
}
.next{
    right: 10px;
    opacity: .6;
    cursor: pointer;
}
.idot-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 45px;
}
.idot{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 10px;
}
.container span.show{
    background: orange;
}

