@charset "UTF-8";
#footer,#header,#content{
    width: 100%;
    min-width: 1200px;
}
#header .header-t{
    padding: 25px 15%;
    background: #f3f3f3;

}
#header .header-t a{
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}
#header .header-b{
    background: #0046aa;
    padding: 0 15%;
    position: relative;
}
#header .menu-list li{
    float: left;
}
#header .menu-list a{
    display: inline-block;
    line-height: 51px;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    transition: background .25s linear;
}
#header .menu-list a:hover{
    background: #0954be;
}
#header .search{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}





#footer{
    background: #0046aa;
    padding-top: 45px;
}
.footer-t{
    width: 75%;
    min-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 30px;
}
#footer .links_list {
    width: 70%;
    /*弹性布局*/
    display: flex;
    /*设置主轴对齐方式*/
    justify-content: space-between;
}
#footer .links_list li{
    display: inline-block;
    vertical-align:top;
}
#footer .links_list a{
    color: white;
}
#footer .links_list dt{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
#footer .links_list  dd{
    font-size: 12px;
    line-height: 24px;
}
#footer .code{
    width: 20%;
    color: rgba(255,255,255,.7);
}
#footer .code dd{
    width: 50%;
    text-align: center;
}
#footer .code dd img{
    margin-bottom: 10px;
}
#footer .code a{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #1a5ebf;
    height: 45px;
    color: white;
    font-size: 14px;
    margin-top: 13px;
    transition: background .25s linear;
}
#footer .code a:hover{
    background: #0046aa;
}


#footer .footer-b{
    padding: 25px 0;
    font-size: 14px;
    line-height: 15px;
    color: rgba(255,255,255,.7);
    border-top: 1px solid rgba(255,255,255,.4);
}
#footer .footer-b a{
    color: rgba(255,255,255,.7);
}
#footer .footer-b a:hover{
    color: white;
}
#footer .info-list > li{
    display: inline-block;
    padding: 0 20px;
}
#footer .info-list > li:first-child{
    padding-left: 0;
}
#footer .info-list > li:not(:last-child){
    border-right: 1px solid rgba(255,255,255,.7);
}
#footer .footer-b .wraper{
    width: 90%;
    margin: 0 auto;
}
