@charset "UTF-8";

.wrap{
    width: 65%;
    margin: 0 auto;
}
.wrap h1{
    font-size: 24px;
    margin: 20px 0;
    font-weight: normal;
}
.item{
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.item img{
    vertical-align: middle;
    transition: all .5s linear;
}
.item .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    transition: all .25s linear;
    background: linear-gradient(to top,black -40%,transparent);
    opacity: 0;
}
.content-t .item:hover .mask{
    opacity: 1;
}
.content-t .item:hover img{
    /*缩放*/
    transform: scale(1.1,1.1);
}
.content-t .item:hover .title{
    display: block;
}



.des-infos{
    width: 75%;
    color: white;
}
.des-infos h3{
    font-size: 30px;
}
.des-infos p{
    font-size: 14px;
    line-height: 24px;
    display: none;
}
.item .des-infos{
    position: absolute;
    left: 35px;
    bottom: 50px;
}






