
@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    margin: 200px;
    text-align: center;
}
.menu-list{
    list-style: none;
    font-size: 0;
}
.menu-list li{
    display: inline-block;
    background: #333333;
    color: white;
    height: 40px;
    width: 120px;
    font-size: 16px;
    line-height: 40px;
    margin-right: 1px;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
}
.submenu-list{
    list-style: none;
    position: absolute;
    left:0;
    top:100%;
    display: none;
}



.submenu-list li{
    display: block;
    margin-top: 1px;

}
.menu-list > li:hover .submenu-list{

    display: block;
}


main{
text-align: center;
}
.box img{
    width: 1000px;
    height: 430px;
    position: relative;
}
.p{

}
.p img{
    height: 80px;
    width: 50px;
}
.p .p1{
     margin-right: 800px;
}
.box{
    position: relative;
}
.p{

    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}
.disc{
    list-style: none;
    position: absolute;
    top:400px;
    left: 500px;
}

.disc li{
    width: 10px;
    height: 10px;
    background: #ffa500;
    border-radius: 50%;
    display: inline-block;
margin: 5px;
}
.disc li:hover{
    background: #9b9b99;
}