@charset "utf-8";

.content {
    background: rgb(242, 242, 242);
}



.info-box {
    height: 150px;
    background: url(../images/bg.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box .head-sculpture {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    border-radius: 50%;
    background: url(../images/jay.jpeg) no-repeat center center;
    background-size: cover;
}
.info-box .nikename {
    color: azure;
    font-size: 14px;
    letter-spacing: 1px;
}

/* 功能列表 */
.action-list {
    margin: 12px 0;
}
.action-list li {
    height: 45px;
    box-sizing: border-box;
    padding: 0 16px; 
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-list li:first-child {
    border-top: 1px solid #ccc;
}

.action-list li span {
    font-size: 14px;
    color: #333;
}

/* 退出登录 */
.quit-btn {
    display: block;
    width: calc(100% - 32px);
    height: 45px;
    margin: 25px auto;
    background: rgb(204, 51, 51);
    color: #fff;
    text-align: center;
    line-height: 45px;
    letter-spacing: 12px;
    font-size: 14px;
    border-radius: 8px;
}






