@charset "utf-8";

* {
    margin: 0; padding: 0;
}

ul { list-style: none;}

img {
    width: 100%;
    vertical-align: middle;
}

html, body { height: 100%;}

a {
    text-decoration: none;
}

input, button {
    outline: none;
    border: none;
}

.clearFix {
    zoom: 1;
}
.clearFix::after {
    content: "";
    display: none;
    height: 0;
    visibility: hidden;
    clear: both;
}