
@charset "UTF-8";



@font-face {
    font-family: 'iconfont';  /* project id 616474 */
    src: url('//at.alicdn.com/t/font_616474_egrsx66b5r8uxr.eot');
    src: url('//at.alicdn.com/t/font_616474_egrsx66b5r8uxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_616474_egrsx66b5r8uxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_616474_egrsx66b5r8uxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_616474_egrsx66b5r8uxr.svg#iconfont') format('svg');
}


@font-face {
    font-family: 'iconfont';  /* project id 616474 */
    src: url('//at.alicdn.com/t/font_616474_jj13dqn1tvdvx6r.eot');
    src: url('//at.alicdn.com/t/font_616474_jj13dqn1tvdvx6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_616474_jj13dqn1tvdvx6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_616474_jj13dqn1tvdvx6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_616474_jj13dqn1tvdvx6r.svg#iconfont') format('svg');
}

.iconfont{
    font: normal normal 40px "iconfont";
    color: black;
}
body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
main{
    width: 80%;
    margin: auto;
}
main h1{
    text-align: center;
    text-shadow: 2px 2px 4px #5d595e;
    letter-spacing: 4px;
}
main .text{
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
}
main .text:first-letter{
    font-size: 30px;
    color: red;
}
main .title{
    border: 1px solid #000000;
    height: 400px;
    width: 820px;
    border-radius: 5px;
    margin: auto;

    overflow: hidden;
}

main .title p{
    padding: 10px;
    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    line-height: 40px;
    letter-spacing: 4px;
    font-size: 26px;
}



footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
footer ul{
    list-style: none;
}
.menu-list1 li{
    display: inline-block;
    padding: 8px;
    padding-right: 30px;
    font-size: 14px;
}
.menu-list2 li{
    display: inline-block;
    font-size: 14px;
}
.menu-list1  li a{
    text-decoration: none;
}
.menu-list1  li a:hover{
    text-decoration: underline;
}

.menu-list2 li:nth-child(3){
    color: red;
    position: relative;
}
.menu-list2 li:nth-child(3):hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu-list2 li:nth-child(3):hover:after{
    height: 20px;
    width: 250px;
    position: absolute;
    left: 0;
    top:20px;
    content: attr(data-msg);
    background: red;
    color: white;
}



