@charset 'utf-8';

.ct-list {
    box-sizing: border-box;
    padding: 8px;
}
.ct-list li {
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ct-list .left-box {
    width: 30%;
}
.ct-list .right-box {
    width: 66%;
}
.ct-list img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.ct-list .title {
    font-weight: bold;
    font-size: 15px;
}
.ct-list .tel {
    color: rgb(199, 27, 10);
    margin-bottom: 6px;
}