@charset 'utf-8';

.text {
    white-space: pre-wrap;
    margin-top: 18px;
    box-sizing: border-box;
    padding: 0 8px;
    letter-spacing: 1px;
}

.details .ant-carousel img  {
    height: 200px;
}