@charset 'utf-8';

.logo {
    width: 100%;
}

.form-item {
    width: 85%;
    margin: 12px auto;
    height: 50px;
    position: relative;
}

.form-item .icon {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.form-item input {
    width: 100%;
    height:100%;
    font-weight: lighter;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding-left: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}


[name='myForm'] .info-box {
    width: 85%;
    margin: 16px auto 0;
    text-align: right;
}
[name='myForm'] .btn {
    height: 45px;
    background: rgb(199, 27, 10);
    color: #fff;
    text-align: center;
    line-height: 45px;
    letter-spacing: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
}

[name='myForm'] .info-box > span {
    text-decoration: underline;
}
[name='myForm'] .hidden {
    display: none;
}