
/*指定字符编码格式，防止出现乱码*/
@charset "UTF-8";
section{
    width: 260px;
    height: 180px;
    background: pink;
}



/*类（class）选择器*/
.line{
    /*添加下划线*/
    text-decoration: underline;
}
#cd{
    /*字符间距*/
    letter-spacing: 10px;
}
.wrap .text{
    color: green;
}
.wrap h1{
    color: green;
}
.wrap > h1{
    text-decoration: underline;
}
.wrap > section > .text {
    text-decoration: underline;
}

/*群组选择器*/
h1, .line {
    border: 2px solid peru;
    padding: 25px;
}


/*统计选择器*/
/*+:选择下一个兄弟元素*/
/*~:选择后面的所有兄弟元素*/
.list > .flag + li{
    color: blue;
}
.list > .flag ~ li{
    letter-spacing: 8px;
}

/*伪类选择器*/
/*:hover  鼠标悬浮*/
.list li:hover{
    text-decoration: underline;

 }
/*属性选择器*/
[title]{
    font-size: 30px;
}
[title]{
    font-weight: bolder;
}
main p{
    background: gold;
    width: 600px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

main p:active{
    background: plum;
}
main form input:focus{
    background: green;
}
main span{
    background: darkorchid;
}
main span:visited{
    background: red;
}
[title ~= aa]{
    background: pink;
}
[title |= bb]{
    font-size: smaller;
}
[title ^= title]{
    letter-spacing: 20px;
}
[title $= index]{
    font-size: 28px;
}
[title *= index]{
    letter-spacing: 20px;
}