@charset "UTF-8";
.box{
    width: 100px;
    height: 100px;
    margin: 80px;
    background: red;
    cursor: pointer;
    /*transition: background .5s linear,border-radius .25s ease-in;*/
    /*transition: all .5s linear;*/

}
.t1:hover{
    background: palevioletred;
    border-radius: 50%;
}


/*定义动画   帧动画*/
@keyframes myAnimation {
    /*起始帧*/
    form{
        margin-left: 8px;
        background: palevioletred;
    }
    /*结束帧*/
    to{
        margin-left: 600px;
        background: pink;
    }
}


.t2{
    animation:myAnimation 1s linear 0s 1 alternate running forwards;
}


@keyframes shine {
    0%{box-shadow: 0 0 5px 5px pink;}
    50%{box-shadow: 0 0 20px 10px deeppink;}
    100%{box-shadow: 0 0 5px 5px pink;}
}
.t3{
    animation: shine 2s linear 0s infinite alternate;
}


@keyframes color {
    0%{background: pink;}
    100%{background: palevioletred;}
}
.t4:hover{
    animation: color .5s linear;
}


.t5,.t6,.t7{
    transition: all .5s linear;
}
.t5:hover{
    transform: translateX(600px);
}
.t6:hover{

    transform: scale(1.12,1.12);
    background: pink;
}
.t7:hover{
    transform: rotateY(360deg);
}
